@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

body {
    background-color: orange !important;
}

.typewriter-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-right: .15em solid grey;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-type .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-type {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: grey;
    }
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fadeIn 2s;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btn:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    .btn {
        display:block;
        margin:0.4em auto;
    }
}

#typewriter-welcome {
    font-family: 'Noto Serif JP', serif;
    font-size: 4vw;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}